<div class="accordion-outer-container">
<div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingOne">
            <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                aria-expanded="true" aria-controls="collapseOne">
                Jumbo Mortgage
            </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Jumbo mortgages are home loans that exceed conforming loan limits.
                It is a way to buy a high-priced here in the Bay area. If you have a
                lower debt-to-income ratio and a higher credit score, a jumbo loan may
                be right for you.<span class="text-primary">LEARN MORE about Jumbo Mortgages</span>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingTwo">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Fixed Rate Mortgage
            </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Jumbo mortgages are home loans that exceed conforming loan limits.
                It is a way to buy a high-priced here in the Bay area. If you have a
                lower debt-to-income ratio and a higher credit score, a jumbo loan may
                be right for you.<span class="text-primary">LEARN MORE about Jumbo Mortgages</span>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingThree">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Adjustable-Rate Mortgage (ARMS)
            </button>
        </h2>
        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Jumbo mortgages are home loans that exceed conforming loan limits.
                It is a way to buy a high-priced here in the Bay area. If you have a
                lower debt-to-income ratio and a higher credit score, a jumbo loan may
                be right for you.<span class="text-primary">LEARN MORE about Jumbo Mortgages</span>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFour">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                Poppy LoanTM Mortgage
            </button>
        </h2>
        <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Jumbo mortgages are home loans that exceed conforming loan limits.
                It is a way to buy a high-priced here in the Bay area. If you have a
                lower debt-to-income ratio and a higher credit score, a jumbo loan may
                be right for you.<span class="text-primary">LEARN MORE about Jumbo Mortgages</span>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="headingFive">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                Reverse Mortgage
            </button>
        </h2>
        <div id="collapseFive" class="accordion-collapse collapse" aria-labelledby="headingFive"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Jumbo mortgages are home loans that exceed conforming loan limits.
                It is a way to buy a high-priced here in the Bay area. If you have a
                lower debt-to-income ratio and a higher credit score, a jumbo loan may
                be right for you.<span class="text-primary">LEARN MORE about Jumbo Mortgages</span>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading6">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse6" aria-expanded="false" aria-controls="collapse6">
                Refinancing Your Home
            </button>
        </h2>
        <div id="collapse6" class="accordion-collapse collapse" aria-labelledby="heading6"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Jumbo mortgages are home loans that exceed conforming loan limits.
                It is a way to buy a high-priced here in the Bay area. If you have a
                lower debt-to-income ratio and a higher credit score, a jumbo loan may
                be right for you.<span class="text-primary">LEARN MORE about Jumbo Mortgages</span>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading7">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse7" aria-expanded="false" aria-controls="collapse7">
                Home Equity Loans & Line of Credit
            </button>
        </h2>
        <div id="collapse7" class="accordion-collapse collapse" aria-labelledby="heading7"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Jumbo mortgages are home loans that exceed conforming loan limits.
                It is a way to buy a high-priced here in the Bay area. If you have a
                lower debt-to-income ratio and a higher credit score, a jumbo loan may
                be right for you.<span class="text-primary">LEARN MORE about Jumbo Mortgages</span>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading8">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse8" aria-expanded="false" aria-controls="collapse8">
                Contact Us
            </button>
        </h2>
        <div id="collapse8" class="accordion-collapse collapse" aria-labelledby="heading8"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Jumbo mortgages are home loans that exceed conforming loan limits.
                It is a way to buy a high-priced here in the Bay area. If you have a
                lower debt-to-income ratio and a higher credit score, a jumbo loan may
                be right for you.<span class="text-primary">LEARN MORE about Jumbo Mortgages</span>
            </div>
        </div>
    </div>
    <div class="accordion-item">
        <h2 class="accordion-header" id="heading9">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                data-bs-target="#collapse9" aria-expanded="false" aria-controls="collapse9">
                Commercial Mortgage
            </button>
        </h2>
        <div id="collapse9" class="accordion-collapse collapse" aria-labelledby="heading9"
            data-bs-parent="#accordionExample">
            <div class="accordion-body">
                Jumbo mortgages are home loans that exceed conforming loan limits.
                It is a way to buy a high-priced here in the Bay area. If you have a
                lower debt-to-income ratio and a higher credit score, a jumbo loan may
                be right for you.<span class="text-primary">LEARN MORE about Jumbo Mortgages</span>
            </div>
        </div>
    </div>
    <div class="mortgage-plans-info mt-3">
        <p>
            As your local credit union, we offer competitive financing to purchase or refinance
            your commerical real estate property, including apartment buildings, warehouses,
            office buildings, shopping centres and more.
        </p>
        <p>
            For more information, contact a member of our Commerical Relationship Management Group today!
        </p>
        <div class="row">
            <div class="col">
                <h6>KELLY TSUKAMOTO</h6>
                <p>Head of Commercial Relationship<br/>Management Group<br/>415-359-2913</p>
                <p class="text-primary">
                    Kelly_Tsukamoto@SanFranciscoFCU.com
                </p>
            </div>
            <div class="col">
                <h6>KIRK YEE</h6>
                <p>Sr.Commercial Relationship<br/>Manager<br/>415-359-2951</p>
                <p class="text-primary">
                    Kirk_Yee@SanFranciscoFCU.com
                </p>
            </div>
        </div>
    </div>
</div>
</div>