<div class="company-details-container row">
    <div class="branch-closure-section col me-3">
        <h5 class="details-title">BRANCH CLOSURE</h5>
        <h6 class="details-subtitle">Our Financial District Branch is temporarily closed until further notice.</h6>
    </div>
    <div class="holiday-closure-section col me-3">
        <h5 class="details-title">HOLIDAY CLOSURE</h5>
        <h6 class="details-subtitle">In observance of Presidents Day, all branches will be closed on Monday, February 15,2021</h6>
    </div>
    <div class="social-media-section col">
        <h5 class="details-title">STAY CONNECTED WITH US!</h5>
        <h6 class="details-subtitle">Follow us</h6>
        <div class="column mt-4">
            <img src="/assets/instagram.png" alt="instagram logo" class="me-3"/>
            <img src="/assets/twitter.png" alt="twitter logo" class="me-3" /> 
            <img src="/assets/facebook.png" alt="facebook logo"  />  
        </div>
    </div>
</div>