<div class="site-footer-outer-container">
<div class="site-footer ">
    <div class="row">
        <div class="company-address-container col">
            <img src="/assets/logosffcu.png" alt="site logo" class="mb-4"/>
            <h5 class="mb-4 footer-address">ROUTING NUMBER:321076441</h5>
            <p class="p-0 m-0 footer-address">Main Branch:770GoldenDateAvenue,San</p>
            <p class="p-0 footer-address">Franciso,CA941 MainPhone415.775.5377</p>
        </div>
        <div class="other-links-container col">
            <h3 class="mb-4">Other Links</h3>
            <div class="row">
                <div class="col">
                    <ul>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Products</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Rewards</a>
                        </li>
                    </ul>
                </div>
                <div class="col">
                    <ul>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Resource</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Who we are</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="queries-container col">
            <h3 class="mb-4"> Have a question?</h3>
            <p class=" footer-address">Leave your email and we will contact you as soon as possible</p>
            <div class="input-group mb-3 p-1">
                <input type="text" class="form-control footer-email-input" placeholder="Your Email" aria-label="Your Email"
                    aria-describedby="basic-addon2">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button">SEND</button>
                </div>
            </div>
        </div>
    </div>
    <hr/>
    <h5 class="p-2  footer-address">Copyright San Francisco Federal Credit Union</h5>
</div>
</div>