<div class="site-header row ">
    <div class="site-logo col-3">

        <img src="/assets/logosffcu.png" alt="site logo" height="32" width="213" class="site-logo-image pt-2" />
    </div>
    <nav class="navbar navbar-expand-lg navbar-light parllel-containers col-6">
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item mr-8 ml-8">
                    <a class="nav-link " href="#">Products</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Rewards</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Resource</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Who we are</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="col-3 row p-0">
        <div class="header-icons col p-0">
            <img src="/assets/search.png" width="20" height="20" class="me-2" />
            <img src="/assets/location.png" width="20" height="20" class="me-2" />
            <img src="/assets/phone.png" width="20" height="20"  />
        </div>
        <a class="nav-link text-dark nav-item col ps-0 text-end" href="#">Join Now</a>
        <button type="button" class="btn btn-outline-primary rounded-pill col header-login">LOGIN</button>

    </div>
</div>