<div class="loancards-outer-container">
    <div class="loancards">
        <div class="loancards-title">
            <h2>Loan Rates that Bank Customers Dream About.</h2>
        </div>
        <div class="loancards-subtitle">
            <h5>Membership does have its benefits!</h5>
        </div>
        <div class="loancards-template-section text-center d-flex">
            <div class="card me-3" style="width: 11.6rem;height:12rem;">
                <div class="card-body ">
                    <p class="card-title">New Vehicles</p>
                    <p class="card-subtitle mb-2 text-muted"><img src="/assets/New Vehicles .png" width="40"
                            height="40" /></p>
                    <p class="card-text">as low as</p>
                    <h1 class="card-text loan-percentage">0.99<span class="loan-toptext">%</span><span class="loan-bottomtext">APR</span></h1>
                    <a href="#" class="nav-link p-0">Vehicle Loans<img src="/assets/arrow-hover.png" class="loancards-image"></a>
                </div>
            </div>
            <div class="card me-3" style="width: 11.6rem;height:12rem;">
                <div class="card-body">
                    <p class="card-title">VISA Platinum Rewards</p>
                    <p class="card-subtitle mb-2 text-muted"><img src="/assets/VISA Platinum Rewards .png" width="40"
                            height="40" /></p>
                    <p class="card-text">as low as</p>
                    <h1 class="card-text loan-percentage">3.20<span class="loan-toptext">%</span><span class="loan-bottomtext">APR</span></h1>
                    <a href="#" class="nav-link p-0">Credit Cards<img src="/assets/arrow-hover.png" class="loancards-image"></a>
                </div>
            </div>
            <div class="card me-3" style="width: 11.6rem;height:12rem;">
                <div class="card-body">
                    <p class="card-title">Short-term loans only</p>
                    <p class="card-subtitle mb-2 text-muted"><img src="/assets/Short-term loans only .png" width="40"
                            height="40" /></p>
                    <p class="card-text">as low as</p>
                    <h1 class="card-text loan-percentage">1.99<span class="loan-toptext">%</span><span class="loan-bottomtext">APR</span></h1>
                    <a href="#" class="nav-link p-0">Personal loan<img src="/assets/arrow-hover.png" class="loancards-image"></a>
                </div>
            </div>
            <div class="card me-3" style="width: 11.6rem;height:12rem;">
                <div class="card-body">
                    <p class="card-title">$1,000 Minimum</p>
                    <p class="card-subtitle mb-2 text-muted"><img src="/assets/Debt Consolidation.png" width="40"
                            height="40" /></p>
                    <p class="card-text">as low as</p>
                    <h1 class="card-text loan-percentage">3.49<span class="loan-toptext">%</span><span class="loan-bottomtext">APR</span></h1>
                    <a href="#" class="nav-link p-0">Debt Consolidation<img src="/assets/arrow-hover.png" class="loancards-image"></a>
                </div>
            </div>
            <div class="card me-3" style="width: 11.6rem;height:12rem;">
                <div class="card-body">
                    <p class="card-title">30Year Fixed</p>
                    <p class="card-subtitle mb-2 text-muted"><img src="/assets/30YearFixed .png" width="40"
                            height="40" /></p>
                    <p class="card-text">as low as</p>
                    <h1 class="card-text loan-percentage">3.310<span class="loan-toptext">%</span><span class="loan-bottomtext">APR</span></h1>
                    <a href="#" class="nav-link p-0">Home Loans<img src="/assets/arrow-hover.png" class="loancards-image"></a>
                </div>
            </div>
            <div class="card " style="width: 11.6rem;height:12rem;">
                <div class="card-body">
                    <p class="card-title">Check Access</p>
                    <p class="card-subtitle mb-2 text-muted"><img src="/assets/Check Access.png" width="40"
                            height="40" /></p>
                    <p class="card-text">as low as</p>
                    <h1 class="card-text loan-percentage ">4.00<span class="loan-toptext">%</span><span class="loan-bottomtext">APR</span></h1>
                    <a href="#" class="nav-link p-0">Home Equity Lines<img src="/assets/arrow-hover.png" class="loancards-image"></a>
                </div>
            </div>

        </div>
    </div>
</div>