<div class="mortgage-banner-outer-container">
    <div class="mortgage-banner-container row ">
        <div class="column col">
            <h1 class="mortgage-banner-title">Mortgages & <br/>Loans</h1>
            <h6 class="mt-3 mortgage-banner-subtitle">San Francisco Personal Loans offer fast processing of your loan.</h6>
            <a href="#" class="btn mortgage-banner-button rounded-pill mt-4">Apply for a Loan</a>
        </div>
        <div class="col text-end">
            <img src="/assets/moratage-hero.png" >
        </div>
    </div>
</div>