<div clss="mortgage-main-description-container">
    <div class="mortgage-desc">
        <h3 class="mortgage-desc-title">How Much Home Can I Afford?</h3>
        <p>When you're buying ahome, mortgage lenders don't look just at your income,
            assets, and the down payment you have. They look at all of your liabilities
            and obligations as well, including auto loans, credit card debt, child
            support, potential property taxes and insurance, and your overall credit
            rating. Use this calculator to determine how much of a mortgage you may
            be able to obtain.
        </p>
        <img src="/assets/moratage-banner.png" width="1200">
    </div>
    <div class="mortgage-loan-amounts">
        <h3 class="mortgage-loan-amounts-title">Definitions for Single Family loan Amounts</h3>
        <div class="mortgage-loan-cards row">
            <div class="card col m-3" style="width: 8rem;">
                <div class="card-body">
                    <h5 class="card-text mortgage-card-title mb-3">
                        Conforming Loan Limits : Maximun loan amount
                    </h5>
                    <h3 class="card-title mortgage-card-subtitle">$548,250</h3>
                </div>
            </div>
            <div class="card col m-3" style="width: 8rem;">
                <div class="card-body">
                    <h5 class="card-text mortgage-card-title mb-3">
                        Super Conforming/High Balance: Loan amounts over
                    </h5>
                    <h3 class="card-title mortgage-card-subtitle">$548,250</h3>
                    <p class="card-subtitle mortgage-card-subtitle">to a maximum of $822,375</p>
                </div>
            </div>
            <div class="card col m-3 me-0" style="width: 8rem;">
                <div class="card-body">
                    <h5 class="card-text mortgage-card-title mb-3">
                        Jumbo Loan Amounts: Loan amounts over
                    </h5>
                    <h3 class="card-title mortgage-card-subtitle">$822,375</h3>
                </div>
            </div>
        </div>
    </div>
</div>