<div class="company-photos-outer-container">
<div class="company-photos d-flex">
    <div class="main-photo">
        <img src="/assets/blog-img1.png" alt="site logo"  class="p-3 ps-0" width="580"/>
    </div>
    <div class="d-flex flex-column">
        <img src="/assets/blog-img2.png" alt="site logo"  class="p-3" height="311"/>
        <img src="/assets/blog-img3.png" alt="site logo" class="p-3" height="311"/>
    </div>
    <div class="d-flex flex-column">
        <img src="/assets/blog-img4.png" alt="site logo" class="mb-3 p-3" height="311"/>
        <div class="card " style="width: 18rem;margin-left:16px;height:17.5rem;">
           <div class="card-body">
                <h5 class="card-title">Events</h5>
                <p class="card-text">Check out all of our upcoming events, workshops and branch closures.
                </p>
                <a href="#" class="btn btn-outline-dark">View All</a>
            </div>
        </div>
    </div>
</div>
</div>