<div class="welcomeinfo ">
    <div class="row welcomeinfo-title">
        <h4 class="col-10">Welcome to SAN FRANCISCO FEDERAL CREDIT UNION</h4>
        <h5 class="col text-end">View ALL <img src="/assets/arrow-hover.png" class="welcomeinfo-image"></h5>
    </div>
    <div class="welcomeinfo-cards d-flex">
        <div class="card border-0" style="width: 18rem;height:23rem;margin-right:2rem">
            <img src="/assets/img-1.png"  class="card-img-top" >
            <div class="card-body ps-0 pe-0">
                <h5 class="card-title mt-3">Become a Member</h5>
                <p class="card-text">Join a global community of investment management
                    professionals dedicated to high ethical and educational
                    standards.
                </p>
                <a href="#" class="btn btn-outline-dark rounded-pill mt-3">Learn More</a>
            </div>
        </div>
        <div class="card border-0" style="width: 18rem;height:23rem;margin-right:2rem">
            <img src="/assets/img2.png"  class="card-img-top" >
            <div class="card-body  ps-0 pe-0">
                <h5 class="card-title mt-3">Review Application Staus</h5>
                <p class="card-text">Join a global community of investment management
                    professionals dedicated to high ethical and educational
                    standards.</p>
                <a href="#" class="btn btn-outline-dark rounded-pill mt-3">Learn More</a>
            </div>
        </div>
        <div class="card border-0" style="width: 18rem;height:23rem;margin-right:2rem">
            <img src="/assets/img3.png"  class="card-img-top" >
            <div class="card-body  ps-0 pe-0">
                <h5 class="card-title mt-3">View Rates</h5>
                <p class="card-text">Join a global community of investment management
                    professionals dedicated to high ethical and educational
                    standards.</p>
                <a href="#" class="btn btn-outline-dark rounded-pill mt-3">Learn More</a>
            </div>
        </div>
        <div class="card border-0" style="width: 18rem;height:23rem;">
            <img src="/assets/img4.png"  class="card-img-top" >
            <div class="card-body ps-0 pe-0">
                <h5 class="card-title mt-3">Online Banking</h5>
                <p class="card-text">Join a global community of investment management
                    professionals dedicated to high ethical and educational
                    standards.</p>
                <a href="#" class="btn btn-outline-dark rounded-pill mt-3">Learn More</a>
            </div>
        </div>
    </div>
</div>